<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatoo!</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>

    <main>
        <div class="container">
            <aside class="sidebar">
                <button class="burger_menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </button>
            </aside>
            <div class="chats">
                <div class="search">
                    <input type="search" class="search-input" placeholder="Search">
                </div>
                <ul class="chat-list">
                    <li class="chat-item">
                        <img src="https://picsum.photos/300?random=1" height="50" width="50" alt="Profile Photo">
                        <div class="chat-right">
                            <h5 class="chat-name">Jonh Doe</h5>
                        </div>
                    </li>
                    <li class="chat-item">
                        <img src="https://picsum.photos/300?random=2" height="50" width="50" alt="Profile Photo">
                        <div class="chat-right">
                            <h5 class="chat-name">Jamoliddin</h5>
                        </div>
                    </li>
                    <li class="chat-item">
                        <img src="https://picsum.photos/300?random=3" height="50" width="50" alt="Profile Photo">
                        <div class="chat-right">
                            <h5 class="chat-name">Usmonxon</h5>

                        </div>
                    </li>
                    <li class="chat-item">
                        <img src="https://picsum.photos/300?random=4" height="50" width="50" alt="Profile Photo">
                        <div class="chat-right">
                            <h5 class="chat-name">Muhammad</h5>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat-messages">
                <ul class="messages-list">
                    <li class="user_message message">
                        <p class="message-text">Salom</p>
                        <span class="message-time">15:34</span>
                    </li>
                    <li class="admin_message message">
                        <p class="message-text">Salom, Kim bu</p>
                        <span class="message-time">15:35</span>
                    </li>
                    <li class="message user_message">
                        <p class="mesage-text">Men Usmonxonman, Siz Jamollidnmisiz?</p>
                        <span class="message-time">15:35</span>
                    </li>
                    <li class="admin_message message">
                        <p class="message-text">Ha nimadur ishingiz bormi?</p>
                        <span class="message-time">15:35</span>
                    </li>
                </ul>
                <div class="send_message">

                </div>
            </div>
        </div>
    </main>
    <script src="js/index.js"></script>
</body>

</html>